@import "tailwindcss";

/* src/index.css */

.animate-scan-strip {
  animation: scan 2s linear infinite;
}

.animate-scan-strip-reverse {
  animation: scan-reverse 2s linear infinite;
}

@keyframes scan {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

@keyframes scan-reverse {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}